.contenedor{
    display: flex;
    justify-content: center;
}

.custom{
    background-color: white;
    border-radius: 25px;
    width: 50%;
    padding: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.custom-input{
    border-width: 0px;
    flex:1;
    display:block;
}

textarea:focus, input:focus{
    outline: none;
}


h1{
    text-align: center;
    font-weight: 900;
}


